<div *ngFor="let message of messages">
	<em>{{ message.timestamp }}</em> [ {{ message.nickname}} ]: {{ message.message }}
</div>

<ion-input placeholder="Enter message" [(ngModel)]="message"></ion-input>
<ion-button (click)="sendMessage()">Send</ion-button>
