<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<!--
	<ion-input placeholder="Nickname" [(ngModel)]="nickname"></ion-input>
	<ion-button (click)="login(nickname)" expand="block">Login</ion-button>
-->

<ion-list>
	<ion-item>
		<ion-label position="stacked">Nickname</ion-label>
		<ion-input [(ngModel)]="nickname" type="text"></ion-input>
	</ion-item>
</ion-list>

<ion-button (click)="login(nickname)">Login</ion-button>

</ion-content>
