<ion-header>
  <ion-toolbar>
    <ion-title>
      IO RXJS Chat<span style="float:right; font-size:0.75rem; padding-top:0.25rem">{{nickname}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<app-chat></app-chat>
</ion-content>
